<h1 style="color: #3F3F38; display: block; font-family: Helvetica; font-size: 24px;
    font-weight: bold; line-height: 100%; letter-spacing: normal; margin-top: 0;
    margin-right: 0; margin-bottom: 10px; margin-left: 0; text-align: center;">
    Welcome, @ViewBag.FirstName!
</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dignissim mi at
    neque lacinia accumsan. Vivamus auctor ipsum vitae turpis cursus nec fermentum est
    fermentum. Praesent diam leo, placerat sed facilisis quis, tempor ac turpis. Nullam
    imperdiet congue magna, vitae suscipit augue luctus ut. Duis lobortis fringilla
    risus, non cursus libero commodo sit amet. Integer magna nisi, eleifend congue congue
    eget, rhoncus et arcu. Aenean eu magna ut arcu posuere molestie sed sit amet nulla.
    Phasellus eget augue quis elit scelerisque consectetur. Etiam est metus, adipiscing
    id bibendum ac, bibendum vitae magna. Nunc commodo elit non erat volutpat feugiat.
    Duis vitae enim ante, non accumsan enim. Nunc nulla enim, volutpat id placerat ut,
    facilisis non ipsum.
</p>

<p>
    hasellus posuere ipsum quis justo malesuada egestas. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Curabitur quis magna quis ligula rutrum molestie quis
    in neque. Donec at turpis ac turpis tincidunt congue. Phasellus non libero non lectus
    lobortis interdum vitae in nisi. Maecenas ultricies euismod sapien quis imperdiet.
    Phasellus dignissim venenatis neque non congue. Mauris venenatis, est ut iaculis
    malesuada, sapien odio suscipit neque, et hendrerit odio nunc et mi.
</p>
